# Operating System Files
.DS_Store
Thumbs.db

# Composer


# Node / NPM
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# WordPress
.env
wp-config.php

# Build

*.zip
